
/*Pagina cadastrar*/


.preenche {
    display: flex;
    justify-content: left;
    margin-left: 20%;
}
.preenche form {
    width: 30%;
    background-color: #000000;
    border-radius: 2px;
    padding: 30px 45px;
}
.preenche label{
    font-size: 30px;
    color: #ffffff;
}
.text input{
    background-color: rgb(255, 255, 255); 
    border-radius: 10px;
    width: 90%;
    border:none;
    font-size: 24px;
    box-sizing: border-box;
    height: 50px;
}

a{
    color:#39317e;
    margin: 5px;
    font-size: 30px;
}
.botom{
    background-color: #d8bdf5;
    border-radius: 15px;
    font-size: 20px;
    width: 90px;
    padding: 20px;
    color: rgb(0, 0, 0);
    margin: 16px;
  
}

/*Listagem de pessoa*/

.Listagem{
   border-radius: 10px;
   color: #FFF;
   width: 300px;
   align-items: center;
   background-color: #080209;
   margin: 5%
}
h2, h3{
    color: #39317e;
    font-size: 40px;
}

.grid{
display: grid;
 grid-template-columns: auto auto auto;
}
