<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Cadastra-se agora!</h1>

    <div class="preenche">
    <form method="post" action="/pessoas/criar">
        <div class="text">
        <label for="Nome:"> Nome: </label>
        <input  name="nome" type="text"/>

        <label   for="sobrenome:"> Sobrenome: </label>
        <input name="sobrenome" type="text"/>

        <label for="altura:">Altura:</label>
        <input name="altura"type="text">

        <label for="idade:">Idade:</label>
        <input  name="idade"type="text">

        <button class="botom" type="submit">
            Envie
        </button>
          
    

        
    </div>
    </form>
    
    </di>
</body>
</html>