<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Listar pessoas cadastradas</h2>

    <% pessoas.forEach((pessoa) => { %>
        <h2><%= pessoa.nome %>
            <%= pessoa.Sobrenome %></h2>
        <h3>Altura<%= pessoa.altura %></h3>
        <h3>Idade<%= pessoa.idade %></h3>


    <a href="/pessoas/delete?id=pessoas.id%>" id="demo" onclick=(deletar())> deletar</a>
    <% }) %>
    <script>
        function deletar(){
            var x;
            var r=confirm("deseja deletar?")
            if(r==true){
                x="voce pressionou ok!"
            }
            else{
                x="voce"
            }
            document.getElementById("demo").innerHTML
        }
    </script> 
</body>
</html>